/* GENERAL */
body {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: #031b4f;
}

h2.white {
  color: #fff;
}

p {
  color: #5c6a88;
}

a {
  color: #006aff;
}

/* LAYOUT */
.fas.fa-angle-down {
  position: relative;
  top: 1px;
  left: 1px;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.background-grey {
  background-color: #f3f5f9;
}

.background-blue {
  background: linear-gradient(to top, #021B79, #0575E6);
}

/* BUTTONS */
.btn-primary {
  background: #fff;
  color: #006aff;
  border: 1px solid;
}

.navbar-btn {
  margin-top: 13px;
  margin-bottom: 13px;
}

.btn-full {
  width: 100%;
  margin-bottom: 10px;
  font-weight: 700;
}

.btn-account {
  background: #579aff;
  color: #fff;
}

.btn-google {
  position: relative;
  color: #6d6d6d;
}

.btn-google img {
  position: absolute;
  left: 0;
  transform: translateX(50%);
  width: 20px;
}

/* UTILITIES */
.list-unstyled li {
  padding-left: 10px;
}

.deploy ul {
  border-left: 1px solid #6d6d6d;
}

.list-unstyled li {
  list-style: none;
  line-height: 40px;
}

.list-unstyled li a {
  color: #6d6d6d;
}

.mb-30 {
  margin-bottom: 30px;
}

/* MAIN HEADER */

/* Navbar */
.navbar {
  background: #fff;
  border-radius: 0;
}

.navbar .container {
  position: relative;
}

.navbar-brand img {
  width: 140px;
  margin-right: 40px;
}

.navbar-default .navbar-nav > li > a {
	color: #031b4f;
  padding: 20px 10px;
  font-weight: 500;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-toggle {
    display: block;
    position: absolute;
    right: 0;
  }
  .navbar-collapse {
    display: none;
  }
}

/* JUMBOTRON */
.jumbotron {
  background-image: url('../img/bg-banner-home.jpg');
  background-size: cover;
  margin-bottom: 0;
}

.jumbotron h1 {
  color: #fff;
  font-size: 46px;
}

.jumbotron p {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
}

.jumbotron-box {
  background: #fff;
  border-radius: 5px;
  padding: 10px;
}

.jumbotron-box h3:nth-of-type(2) {
  color: #006aff;
  margin-top: 0;
}

.jumbotron-box p {
  color: #031b4f;
  font-size: 12px;
  font-weight: 400;
}

/* MAIN CONTENT */

/* Business */
.business {
  padding-top: 40px;
  padding-bottom: 30px;
}

.business .box-image {
  position: relative;
  height: 100px;
  margin-bottom: 20px;
}

.business .box-image img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Deploy */
.deploy .deploy-box img {
  width: 40px;
}

.deploy .deploy-box p {
  font-size: 12px;
}

/* Developers */
.developers img {
  width: 80%;
  padding: 30px;
}

/* Features */
.feature img {
  width: 40px;
}

.feature p {
  font-size: 12px;
}

.feature-box {
  margin-bottom: 30px;
}

/* Regions */
.regions li {
  position: relative;
  border-bottom: 1px solid #fff;
  padding: 0 15px;
  font-size: 13px;
  font-weight: 500;
}

.regions li:last-child {
  border-bottom: none;
}

.regions-list li span:first-child {
  color: #fff;
}

.regions-list li span:last-of-type {
  position: absolute;
  left: 20%;
  color: rgba(255, 255, 255, 0.7);
}

.regions-list li a {
  float: right;
  color: #00d7d2;
}

.box-teams {
  background: #fff;
  width: 60%;
  padding: 50px 0;
  margin: 20px;
  display: inline-block;
  vertical-align: middle;
}

/* FOOTER */
.main-footer {
  background: #031b4f;
  padding: 40px 0;
}

.main-footer img {
  width: 20%;
}

.main-footer h4 {
  color: #fff;
}

.main-footer p,
.main-footer li a {
	color: rgba(255, 255, 255, 0.7);
}

/* TOOLTIP */
.tooltip-utility {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  max-width: 300px;
}

.tooltip-text {
  width: 75%;
  margin-right: 5px;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  background: #fff;
  color: #006aff;
  vertical-align: bottom;
  filter: drop-shadow(0 1px 2px rgba(255, 255, 255, 0.6));
}

.tooltip-text::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  bottom: 10px;
  right: -5px;
  transform: rotate(45deg);
}

.tooltip-utility img {
  padding: 5px 0;
  border-radius: 10px;
  background: #006aff;
  width: 20%;
}
